
*{
  margin: 0;
  padding: 0;
}

#root{
  height: 100%
}

body{
  background-color: RGB(222, 184, 135);
}

.lavishly-yours-regular {
  padding-left: 2rem;
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

nav{
  height:7rem;
  background-color: rgb(85,107,47);
  margin-top: 0;
  box-shadow: 0 7px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  margin-bottom: 1rem;
}

nav ul{
  height:100%;
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-in-header{

  height: 100%;
  
}

nav li:hover{
  background-color: #f0f0f0;
}

nav a{
  height: 100%;
  color: black;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

nav a:hover{
  background-color: #f0f0f0;
}

#about-us-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: RGB(222, 184, 135);
  
}

.about-us-picture{
  padding-top: 2rem;
  height: 15rem;
  width: 30rem;
  border-collapse: separate;
 
  overflow:hidden;
}

.about-us-picture img{
  height: 100%;
  width: 100%;
  object-fit: cover;
   border-radius: 5%;
}

.tea-house-header{
  text-decoration: none;
  border: 2px solid black;
  width: fit-content;
  padding: .5rem;
  border-radius: 3rem;
}

.about-us-description{
  padding-top: 3rem;
  width: 25rem;
  height: 15rem;
  font-size: 1.5rem;
  
}


#shopping-section{
  display: grid;
  width: 100%;
  height: calc(100vh - 8rem);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

#filter-box{
  background-color: aqua;
  grid-row: 1 / 7;
  grid-column: 1 / 2;
}

#catalog-of-items{
  grid-row: 1 / 7;
  grid-column: 2 /6 ;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

#shopping-cart-area{
  grid-row: 1 /2 ;
  grid-column: 6/7;
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#shopping-cart-area:hover{
  cursor: pointer;
}

#total-items-in-cart{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

#footer-section{
  grid-column: 6 / 7;
  grid-row: 2 / 7;
  background-color: rgb(226, 209, 243);
}

#shopping-items{

}
/*--------------Product Card CSS--------------*/
.product-card{
  margin: 1rem;
  background-color: rgb(191, 168, 67);
  max-width: 25%;
  height: 18%;
  width: 25%;
  border-radius: 1rem;
  transition: all .6s ease;
}

.product-card:has(.product-card-description:hover){
  height: 30%;
}

.product-card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 4px;

}

.product-card-picture-area{
  height: 7rem;
  width: 100%;
  background-color: #f0f0f0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.source-picture{
  height: 100%;
  width: 100%;
  object-fit:contain;
}

.product-card-description{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 50%;
 position: relative;

}

.product-card-description:hover .more-tea-info{
  opacity: 100%;
}

.name-of-tea{
  position: absolute;
  top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

.name-of-tea:hover + .more-tea-info{
  opacity: 100%;
}
.more-tea-info{

 position: absolute;
 top: 2.5rem;
 text-align: center;
 opacity: 0%;
 transition: .3s;
 font-family: 'Arial Narrow', Arial, sans-serif;
 font-weight: 50;

}



/*--------------End Of Product Card CSS--------------*/

/*--------------Popup Box--------------*/

.popup{
  grid-column: 1 / 7;
  grid-row: 1 / 7;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card{
  position: relative;
  background-color: #f0f0f0;
  height: 40%;
  width: 25%;
  padding: 4rem;
}

.teahouse-close-button{
  position: absolute;
  top:1rem;
  right:1rem;
  padding: .45rem;
  background-color: firebrick;
  color: white;
  border-radius: .5rem;;
}

.popup-content{

  top: 3rem;
  text-align: center;
  width: 100%;
}

.popup-table{
  width: 100%;
}

/*--------------Tea House Button */
.tea-house-button{
  height: 1rem;
  width: 2rem;
  color: white;
  background-color: firebrick;
  border: .5rem;
}